<h1>Meetups</h1>

<ul>
  <% @meetups.each do |meetup| %>
  <li>
    <a href="/meetups/<%=meetup.id%>"><%= meetup.meetup_name %><a/>
  </li>
  <% end %>
</ul>

<a href="/meetups/new">Create Meetup</a>
